Repository hmcts/opal-print-service, pull requests merged in 2024-03, with the labels that each got.

#23 Update local db details
  src/main/resources/application.yaml
Labels: ns:opal, prd:opal, rel:opal-print-service-pr-23

#26 Update docker compose
  docker-compose.yml
Labels: ns:opal, prd:opal, rel:opal-print-service-pr-26

#29 Add first script
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/opal/controllers/HealthCheckTests.java
  src/integrationTest/java/uk/gov/hmcts/reform/opal/BaseIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/opal/openapi/OpenAPIPublisherTest.java
  src/main/resources/db/migration/V20240304_001__print_definition.sql
  src/smokeTest/java/uk/gov/hmcts/reform/opal/controllers/SampleSmokeTest.java
Labels: ns:opal, prd:opal, rel:opal-print-service-pr-29, enable_keep_helm

#25 Po 207 - printing interface and pdf generation
  .gitignore
  build.gradle
  config/checkstyle/checkstyle.xml
  docker-compose.yml
  src/functionalTest/java/uk/gov/hmcts/opal/Junit5RunnerTest.java
  src/functionalTest/java/uk/gov/hmcts/opal/steps/BaseStepDef.java
  src/functionalTest/java/uk/gov/hmcts/opal/steps/GeneratePdfStepDef.java
  src/functionalTest/java/uk/gov/hmcts/reform/opal/controllers/HealthCheckTests.java
  src/functionalTest/resources/features/generateABD.feature
  src/functionalTest/resources/jsonForPdf/test_1_ABD.json
  src/functionalTest/resources/junit-platform.properties
  src/functionalTest/resources/serenity.conf
  src/integrationTest/java/uk/gov/hmcts/opal/BaseIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/opal/controllers/GetWelcomeTest.java
  src/integrationTest/java/uk/gov/hmcts/opal/openapi/OpenAPIPublisherTest.java
  src/main/java/uk/gov/hmcts/opal/Application.java
  src/main/java/uk/gov/hmcts/opal/config/OpenAPIConfiguration.java
  src/main/java/uk/gov/hmcts/opal/controllers/PrintRequestController.java
  src/main/java/uk/gov/hmcts/opal/controllers/RootController.java
  src/main/java/uk/gov/hmcts/opal/dto/PrintRequest.java
  src/main/java/uk/gov/hmcts/opal/dto/print/Address.java
  src/main/java/uk/gov/hmcts/opal/dto/print/DefendantAddress.java
  src/main/java/uk/gov/hmcts/opal/dto/print/Header.java
  src/main/java/uk/gov/hmcts/opal/dto/print/Imposition.java
  src/main/java/uk/gov/hmcts/opal/dto/print/Impositions.java
  src/main/java/uk/gov/hmcts/opal/dto/print/Offence.java
  src/main/java/uk/gov/hmcts/opal/dto/print/Offences.java
  src/main/java/uk/gov/hmcts/opal/dto/print/Schema.java
  src/main/java/uk/gov/hmcts/opal/service/PrintService.java
  src/main/resources/ABD-25_0-postscript.xsl
  src/main/resources/application.yaml
  src/main/resources/fop.xml
  src/main/resources/projectteam2fo.xsl
  src/smokeTest/java/uk/gov/hmcts/opal/controllers/SampleSmokeTest.java
  src/test/java/uk/gov/hmcts/opal/controllers/PrintRequestControllerTest.java
  src/test/java/uk/gov/hmcts/opal/service/PrintServiceTest.java
Labels: ns:opal, prd:opal, rel:opal-print-service-pr-25

#36 PO-208 Added scripts for print service tables and inserted 1 row
  src/main/resources/db/migration/V20240226_001__print_definition.sql
  src/main/resources/db/migration/V20240228_002__print_performance_monitor.sql
  src/main/resources/db/migration/V20240305_003__print_definition_id_seq.sql
  src/main/resources/db/migration/V20240305_004__print_performance_monitor_id_seq.sql
  src/main/resources/db/migration/V20240309_005__insert_print_defintion.sql
Labels: ns:opal, prd:opal, rel:opal-print-service-pr-36
